<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Persiapan Ekstraksi Data</h5>
                </div>
                <div class="card-body">
                    <form id="form_scraper" action="/scraper" method="post">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>URL</label>
                                    <input required name="url" id="url" type="text" class="form-control"
                                        placeholder="https://20.detik.com/detikflash/... ">
                                </div>
                            </div>
                            
                            <div class="col-12 attributes_container">
                                <div class="row" id="row1">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Nama Data</label>
                                            <input required name="data_name[]" id="data_name1" type="text" class="form-control data_name" placeholder="Judul">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Selector Tag</label>
                                            <input required name="selector_tag[]" id="selector_tag1" type="text" class="form-control selector_tag" placeholder="h1">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-danger pull-right" type="button" onclick="removeAttr(1)">Hapus attribute</button>
                                    </div>
                                    <div class="col-md-12">
                                        <hr>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-success pull-right" type="button" onclick="addAttr()">Tambah attribute</button>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Scrape now!</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="title">Hasil</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea style="min-height:50vh;" class="form-control" name="hasil" id="hasil"
                                    cols="30" rows="10">null</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>