<div class="content">
    <div class="row py-3">
        <div class="col-md-12">
            <a class="btn btn-primary btn-lg mb-4 pull-left" href="#"><i
                    class="now-ui-icons ui-1_simple-add"></i> Tambah jenis</a>
        </div>
        <div class="col-md-12">
            <form id="filter_form" action="">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-6 mb-3">
                        <select name="limit" id="limit" class="form-control table_input">
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                    <div class="col-lg-1 col-md-4 col-6 pl-0 mb-3">
                        <h6>Data</h6>
                    </div>
                    <div class="col-lg-9 col-md-4 col-12">
                        <div class="input-group input-group-alternative input-group-merge table_input">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-search"></i></span>
                            </div>
                            <input class="form-control" name="search" placeholder="Cari..." type="text">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table" id="jenis_table">
                                    <thead>
                                        <th class="">ID</th>
                                        <th class="">Kode</th>
                                        <th class="">Nama Jenis</th>
                                        <th class="text-right">Action</th>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row justify-content-between px-3">
                <div class="total_show">
                    <span class="font-disabled">Total Show Data</span>
                    <span class="font-disabled span_box">2</span>
                    <span class="font-disabled">dari 3 Data</span>
                </div>
                <div class="page_navigation">
                    {{> pagination }}
                </div>
            </div>
        </div>
    </div>
</div>