<div class="sidebar" data-color="orange">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="logo">
        <a href="#" class="simple-text logo-mini">
            DWS
        </a>
        <a href="#" class="simple-text logo-normal">
            Dynamic Web Scraper
        </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li class="{{#if active.dashboard }} active {{/if}}">
                <a href="/">
                    <i class="now-ui-icons design_app"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <div id="table-nav-tabs">
                <li class="{{#if active.scraper }} active {{/if}}">
                    <a href="/scraper">
                        <i class="now-ui-icons education_atom"></i>
                        <p>Scraper</p>
                    </a>
                </li>
        </ul>
    </div>
</div>