<!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
<div class="content">
    <div class="container">
        <div class="col-md-4 ml-auto mr-auto">

            <form method="POST" action="/auth/login">
                <div class="card card-login card-plain">
                    <div class="card-header ">
                        <div class="logo-container">
                            <img src="assets/img/now-logo.png" alt="">
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-12">
                                {{!-- pesan session --}}
                                    {{!-- <div class="mb-4 font-medium text-sm text-green-600">
                                        pesan
                                    </div> --}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group no-border form-control-lg">
                                    <span class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="now-ui-icons users_circle-08"></i>
                                        </div>
                                    </span>
                                    <input required autofocus name="email" type="email" class="form-control" placeholder="Masukkan email">
                                </div>

                                <div class="input-group no-border form-control-lg">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="now-ui-icons ui-1_lock-circle-open"></i>
                                        </div>
                                    </div>
                                    <input type="password" placeholder="Masukkan password" name="password" class="form-control" required autocomplete="current-password">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <button type="submit" class="btn btn-primary btn-round btn-lg btn-block mb-3">
                            Login
                        </button>
                        <div class="pull-left">
                            <h6><a href="#" class="link footer-link">Lupa password?</a></h6>
                        </div>
                        <div class="pull-right">
                            <h6><a href="#pablo" class="link footer-link">Butuh bantuan?</a></h6>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>